.header-nav-active-button a {
	color: orange;
}

.image-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-container img {
	margin: 20px;
	max-width: 400px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	width: 80%;
	max-width: 700px;
	align-items: center;
	justify-content: center;
}

.modal-image {
	width: 80%;
	height: auto;
}

.close {
	position: absolute;
	top: 10px;
	right: 25px;
	color: white;
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
}

.gallery-controls {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

.back-button {
	position: absolute;
	top: 50%;
	left: 5%;
	background-color: transparent;
	color: white;
	border: none;
	font-size: 48px;
	transform: translate(0, -50%);
	cursor: pointer;
}

.forward-button {
	position: absolute;
	top: 50%;
	right: 5%;
	background-color: transparent;
	color: white;
	border: none;
	font-size: 48px;
	transform: translate(0, -50%);
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.image-container img {
		margin: 10px;
		max-width: 200px;
	}
}
