* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header .header-top {
  height: 50px;
  background-color: #96bac3;
}

.header .header-nav {
  background-color: #bce4dc;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-nav-hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 25px;
  margin-left: 10px;
}

.line {
  background-color: black;
  height: 2px;
  margin: 2px 0;
  transition: all 0.3s;
}

.header-nav-menu {
  display: none; /* Initially hide the navigation menu */
  background-color: #bce4dc;
  position: absolute;
  top: 100px; /* Align at the top */
  left: -250px; /* Initially hidden off-screen */
  width: 200px; /* Set a fixed width */
  height: calc(100% - 150px); /* Full-height */
  transition: left 0.5s ease; /* Smooth transition */
}

.header-nav-menu.active {
  display: block; /* Show the navigation menu when active */
  left: 0; /* Slide in from the left */
}

.header-nav-menu ul {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding-block: 20px;
}

.header-nav-menu li {
  text-align: center;
}

.header-nav-menu a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-family: "Klee One", cursive;
  font-size: 28px;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  padding: 20px;
}

.page-header {
  background-color: #e1dcd1;
  padding: 20px 20px 5px 20px;
  width: 40%;
  text-align: center;
  font-size: 55px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.project-description {
  font-size: 32px;
  padding: 40px;
  text-align: center;
  max-width: 1000px;
}

.footer {
  background-color: 96bac3;
  height: 50px;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.klee-one-regular {
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 500px) {
  .page-header {
    background-color: #e1dcd1;
    padding: 10px 10px 5px 10px;
    font-size: 24px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 80%;
  }

  .project-description {
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .header-nav-menu {
    display: none; /* Initially hide the navigation menu */
    background-color: #bce4dc;
    position: absolute;
    top: -500px; /* Align at the top */
    left: 0px; /* Initially hidden off-screen */
    width: 100%; /* Set a fixed width */
    height: calc(100% - 150px); /* Full-height */
    transition: top 0.5s ease; /* Smooth transition */
  }

  .header-nav-menu.active {
    display: block; /* Show the navigation menu when active */
    top: 100px; /* Slide in from the left */
    overflow-y: scroll;
  }
}
