.body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.body h2 {
	padding: 20px;
	font-size: 82px;
}

.body h4 {
	font-weight: normal;
	font-size: 48px;
	width: 80%;
	text-align: center;
}

.header-nav-active-button a {
	color: #ec823e;
}

.home-page-buttons-group {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	overflow-wrap: normal;
}

.home-page-buttons {
	background-color: #ec823e;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 48px;
	box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5);
	text-decoration: none;
	color: black;
	margin: 40px;
}

@media only screen and (max-width: 500px) {
	.home-page-buttons {
		background-color: #ec823e;
		width: 120px;
		height: 120px;
		border-radius: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		text-decoration: none;
		color: black;
		margin: 20px;
	}

	.home-page-buttons-group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		overflow-wrap: normal;
	}

	.body h2 {
		padding: 20px;
		font-size: 48px;
		text-align: center;
	}

	.body h4 {
		font-weight: normal;
		font-size: 24px;
		width: 90%;
		text-align: center;
	}
}
